:root {
    --red: rgb(242, 101, 14);
    --black: rgb(56, 44, 44);
}

body {
    margin: 0 10%;
}

/* general styles */
.get_started {
    background-color: var(--red);
    width: 100px;
    border-radius: 100px;
    text-align: center;
    font-size: 12pt;
    height: 22pt;
    padding-top: 6px;
    color: white;
}
#rm_underline {
    text-decoration: none;
}

#logo {
    color: rgb(114, 5, 5);
    font-size: 40pt;
    margin-top: -15px;
}

main {
    padding-top: 150px;
}
/* nav style */
header {
    height: 120px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 5px;
    background-color: white;
    position: fixed;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul li a {
    font-weight: bold;
    font-size: 14pt;
    margin-left: 20px;
    color: var(--black);
}
nav ul li a:last-child {
    margin-right: 2px;
}