<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Team</title>
    <!-- Add icon library -->
    <link rel="stylesheet" href="../static/css/commons/reset.css">
    <link rel="stylesheet" href="../static/css/commons/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/team/teams.css">
</head>
<body>
    <!-- the header section -->
  <header>
    <a href="#" class="rm_underline"><p id="logo">DataVis</p></a>
    <nav>
      <ul>
        <li><a href="#" class="rm_underline">Pricing</a></li>
        <li><a href="#" class="rm_underline">Product</a></li>
        <li><a href="#" class="rm_underline">About Us</a></li>
        <li><a href="#" class="rm_underline">Careers</a></li>
        <li><a href="#" class="rm_underline">Community</a></li>
      </ul>
    </nav>

    <a href="https://github.com/Brian-Machiestay/Project-portfolio-01" class="rm_underline get_started">Github</a>
  </header>
  <main>
    <div class="row">
        <div class="column">
          <div class="card">
            <img src="../static/images/brian.jpg" class="card-img-top" alt="Brian" style="width:100%">
            <div class="container">
              <h2>Brian Machiestay-Dzregah Elorm</h2>
              <p class="title">Fullstack Software Engineer &amp; Project Manager</p>
              <p>I am a full stack software engineer and also a front-end web developer with proficiency
		in programming languages including C, python, ruby, bash, javascript. I am also a good team player, creative and have an eye for details</p>
              <p><a href="mailto: brianmachiestay@gmail.com">Email me</a></p>
              <p><button class="button">+233 27 5549 093</button></p>
              <!-- Add font awesome icons -->
              <div class="aw-icons">
                <a href="https://www.facebook.com/machiestay/" class="fa fa-facebook"></a>
                <a href="https://twitter.com/Brian85488691" class="fa fa-twitter"></a>
                <a href="https://www.linkedin.com/in/machiestay-dzregah-elorm-brian-02893920b" class="fa fa-linkedin"></a>
                <a href="https://github.com/Brian-Machiestay" class="fa fa-github"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <img src="../static/images/Daymeyen.jpg" class="card-img-top" alt="Damien" style="width:100%">
            <div class="container">
              <h2>Damien Nsoh Ayine</h2>
              <p class="title">Frontend Developer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p><a href="http://">psycaro20@gmail.com</a></p>
              <p><button class="button">+233 54 4282 060</button></p>
             
             <!-- Add font awesome icons -->
             <div class="aw-icons">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-linkedin"></a>
              <a href="#" class="fa fa-github"></a>
             </div>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="../static/images/Prempeh.jpg" class="card-img-top" alt="John" style="width:100%">
            <div class="container">
              <h2>Williams Osei Prempeh</h2>
              <p class="title">Backend Developer</p>
              <p>I am very creative, innovative, pioneer of digitization and digitalization of systems, and Work with management
                to determine IT objectives that will improve business outcomes with the available technological tools</p>
              <p> <a href="mailto: oseiprempehwilliams@gmail.com">Email me</a></p>
              <p><button class="button">+233 242 28 40 55</button></p>
              <!-- Add font awesome icons -->
              <div class="aw-icons">
                <a href="https://web.facebook.com/oseiprempehwilliam" class="fa fa-facebook"></a>
                <a href="https://twitter.com/NANA__PREMPEH" class="fa fa-twitter"></a>
                <a href="https://www.linkedin.com/in/william-osei-prempeh-49798451" class="fa fa-linkedin"></a>
                <a href="https://github.com/NANA-PREMPEH" class="fa fa-github"></a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </main>
       <!-- the footer -->
  <footer id="footer">
    <div class="iconic_logo">
      <p>DavaVis</p>
      <div id="icons-so">
        <a href="#" class="rm_underline"><img src="../static/images/icon-facebook.svg" alt="facebook"/></a>
        <a href="#" class="rm_underline"><img src="../static/images/icon-pinterest.svg" alt="pinterest"/>
        <a href="#" class="rm_underline"><img src="../static/images/icon-instagram.svg" alt="instagram"/>
        <a href="#" class="rm_underline"><img src="../static/images/icon-twitter.svg" alt="twitter"/>
        <a href="#" class="rm_underline"><img src="../static/images/icon-youtube.svg" alt="youtube"/>
      </div>
    </div>
    <ul>
      <li><a href="#" class="rm_underline">Home</a></li>
      <li><a href="#" class="rm_underline">Pricing</a></li>
      <li><a href="#" class="rm_underline">Products</a></li>
    </ul>
    <ul>
      <li><a href="#" class="rm_underline">About Us</a></li>
      <li><a href="#" class="rm_underline">Careers</a></li>
      <li><a href="#" class="rm_underline">Community</a></li>
      <li><a href="#" class="rm_underline">Privacy Policy</a></li>
    </ul>

    <div id="go">
      <div id="updates">
        <p>Updates in your inbox…</p>
        <a href="/ghanaRoads/barChart" class="button rm_underline">Go</a>
      </div>

      <p>Copyright 2023. All Rights Reserved</p>
      <p>Coded by <a href="/teams">the team</a></p>
    </div>
  </footer>
</body>
</html>
