/* roads condition css */

/* general styles */
.button {
    background-color: var(--red);
    height: 20pt;
    padding-top: 5px;
    width: 40px;
    border-radius: 20px;
    text-align: center;
}
body {
    margin: 0;
}
header {
    position: static;
}

/* override jombo css section style */
.jombo {
    background-color: var(--red);
    margin-top: -5px;
    height: 8vh;
    padding-top: 10px;
    position: sticky;
    top: 0;
}
.jombo .nav-fill .nav-link {
    color: white;
}
.jombo .nav-fill .active {
    background-color: white;
    color: var(--red);
    margin-left: 10px;
}


/* main styles */
main {
    min-height: 100vh;
}


/* override some footer styles */
#footer {
    margin-left: 0%;
    margin-right: 0%;
}
