#footer {
    background-color: black;
    margin-left: -12%;
    margin-right: -12%;
    display: flex;
    height: 20%;
    justify-content: space-between;
}

#footer a, #footer p {
    color: rgb(145, 143, 143);
}

#footer .iconic_logo {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    width: 200px;
}
 #footer #icons {
    margin-top: 30px;
 }

 #footer ul li, #go, #go #updates, #go p {
    margin-top: 10px;
 }

 #updates {
    display: flex;
 }

 #updates .button {
    margin-left: 10px;
    background-color: white;
    color: rgb(242, 101, 14);
 }